In [1]:
import pandas as pd

from SPARQLWrapper import SPARQLWrapper, JSON

In [2]:
q_ids = [1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]

In [3]:
queries = dict()
for q_id in q_ids:
    with open(f'sparql_otype/{q_id}.rq') as fp:
        queries[q_id] = fp.read()

In [4]:
with open('../ontos.txt') as fp:
    ontologies = [l.strip() for l in fp.readlines()]

# All ontologies wildcard
ontologies.append('ontos')

endpoints = dict()

for ontology in ontologies:
    e = SPARQLWrapper(f'http://127.0.0.1:9999/blazegraph/namespace/obo-{ontology}/sparql')
    e.setRequestMethod('postdirectly')
    e.setMethod('POST')
    e.setReturnFormat(JSON)
    endpoints[ontology] = e

In [5]:
q_results = dict()

for q_id, query in list(queries.items()):
    onto_results = dict()
    for ontology, e in endpoints.items():
        e.setQuery(query)
        onto_results[ontology] = len(e.query().convert()['results']['bindings'])

    q_results[q_id] = onto_results

In [6]:
df_results = pd.DataFrame.from_dict(q_results, orient='index')

In [7]:
by_ontology = df_results.agg('sum')
by_ontology

aeo              0
agro            51
apollo-sv      308
bfo              0
bto              0
caro             6
chebi            0
cl             236
doid             2
dron             6
ehdaa2           0
envo          1612
fobi             0
foodon        5702
gaz              6
go            2536
hp             313
iao             22
mp             388
ncbitaxon        0
obi           1295
pato            96
pco             19
peco             0
po              24
ro              35
symp             0
uberon         375
uo               0
xco              0
ontos        12296
dtype: int64

In [8]:
len(by_ontology[by_ontology > 0])

20

In [9]:
df_results['ontos']

1     1416
2     1252
5     5811
6      896
7     2695
8       33
9       30
10      14
11      17
12       3
13      11
14      83
15       4
16       4
17       4
18       9
19       3
20       3
21       2
22       1
23       1
24       1
25       1
26       1
27       1
Name: ontos, dtype: int64

In [10]:
df_results['ontos'].sum()

12296