In [1]:
import pandas as pd

In [2]:
suspects = pd.read_json('results/final_suspects.json').set_index('dbpedia')
results = pd.read_json('results/review_results.json', orient='index')

df = results.join(suspects)

In [3]:
df.groupby(['decision']).count()

          comment  reason  cso_topics
decision
invalid        74      74          74
other          31      31          31
valid          35      35          35

In [4]:
df.groupby(['decision', 'reason']).count()

                                             comment  cso_topics
decision reason
invalid  not connected                            47          47
         not connected after bridge removal       27          27
other    community                                 2           2
         not connected                            14          14
         not connected after bridge removal       15          15
valid    community                                 7           7
         not connected                            15          15
         not connected after bridge removal       13          13